In [ ]:
#Question 1

#I/p: a = "hello welcome to python"

#o/p:  "Hello Welcome To Python"

In [7]:
#Question 2

a = 23

b = bin(a)

print(b)
print(b[2:])

c = hex(a)

print(c)
print(c[2:])

d = oct(a)

print(d)
print(d[2:])

0b10111
10111
0x17
17
0o27
27

In [ ]:
#Mutation

a = "abracadabra"
b = "k"
c = 5

In [ ]:
program 1:
    
12

In [4]:
#Nested data strucuture:


dict1 = {1:["english","maths","science"], 2:[10,20,30], 3:["bio-botany","bio-zoology","Algebra"]}

print(dict1[2])

print(sum(dict1[2]))

print(sum(dict1[2]) / len(dict1[2]))

#print(dict1.get(2))

[10, 20, 30]
60
20.0

In [12]:
#bio-botany

print(dict1)
print(dict1.get(3))
print(dict1[3])

print(dict1[3][0])

print(dict1[3][0][4:])

#botany
#bobtn

print(dict1[3][0][::2])

#zoo

print(dict1[3][1][4:7])

{1: ['english', 'maths', 'science'], 2: [10, 20, 30], 3: ['bio-botany', 'bio-zoology', 'Algebra']}
['bio-botany', 'bio-zoology', 'Algebra']
['bio-botany', 'bio-zoology', 'Algebra']
bio-botany
botany
bobtn
zoo

In [13]:
dict2 =  {1:["english","maths","science",["history", "civics", "Geo-graphy",(45,46,47)]], 2:[10,[[20,[99]]],30], 3:("bio-botany","bio-zoology","Algebra")}

print(dict2)

#graphy
#46
#99
#20
#botany

{1: ['english', 'maths', 'science', ['history', 'civics', 'Geo-graphy', (45, 46, 47)]], 2: [10, [[20, [99]]], 30], 3: ('bio-botany', 'bio-zoology', 'Algebra')}

In [16]:
myfamily = {"child1" : {"name" : "Emil","year" : 2004},"child2" : {"name" : "Tobias","year" : 2007},"child3" : {"name" : "Linus","year" : 2011}}

print(myfamily)
print(type(myfamily))

#print name of child3
#print year of child2

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
<class 'dict'>

In [ ]:
{"name": "John","age": 30,"married": True,"divorced": False,"children": ("Ann","Billy"),"pets": None,"cars": [{"model1": "BMW 230", "mpg1": 27.5},{"model2": "Ford Edge", "mpg2": 24.1}]}


print Billy
print model2 name
print model1 mpg1
print divorced status
print age
print 230
print 7.5

In [ ]:
# 19th June Questions (5)
# 20th June:  Test 1: 50 marks (25 mcq + 6 pgms (5 pgms))

#Conditional stmts
#Looping stmts
#Functions

In [5]:
#sort the list without using sort function for alphabets


Li1 = ["cat", "animal", "xx", "umbrella", "make"]

print("cat" > "animal")
print("aaa" < "aab")


Li1.sort()

print(Li1)

True
True
['animal', 'cat', 'make', 'umbrella', 'xx']

In [ ]:
Question1: https://www.linkedin.com/posts/coding-club_asked-activity-6813733801924059137-OJ6Z/
        
Question2: Split and join hackerrank
https://www.hackerrank.com/challenges/python-string-split-and-join/problem
    
Question3: Swapcase hackerrank
https://www.hackerrank.com/challenges/swap-case/problem
    
Question4: calculator program (add, sub, mul, div, floor, power, modulo)

Question5: sentence string : starting values (getting only one string user)
        
"welcome to python programming world" ===> wetopnpgwd
"hello world"  ===> howd

Question6: capitalize the first letters
    
"welcome to python programming world" ===> "Welcome To Python Programming World"
"hello world"  ===> HoWd

Question7: Quiz exam
    
Predefined five quizes (static question)
    
Question8:
    
List of strings (dynamic) ===> find string with maximum and minimum number of vowels

Question9:
    
List of strings (dynamic) ==> Sort strings alphatically with out sort function


Question10:
    
Find LCM and GCD of two numbers 

#4,2 ==> GCD 2 LCM ==> 4  


Question11:
    
Get one sentence from user, find the longest and shortest sub string in that sentence

"welcome to python programming world" ==> Long --> programming  shortest ===> to


Question12:
    
Get numbers from users, add it in to list,

[12,14,15,16,21,99] ==>  stop whenever user gives a prime number
Accept only non prime number

Question13:
    
Find a string hackerrank https://www.hackerrank.com/challenges/find-a-string/problem
    
Question14:

get two strings from user, find common sub string between them (largest common)

"python"  "java"  ==> Not common
"cpp"  "c"   ===> "c"
"windows" "hidows"  ==> "dows"

Question15:

Get one string from user, count number of lower case, upper case, numbers, special chars, in that

valueA67@


Question16:
write program to solve ploynomial equation x3 + 2x2 - x + 9 ==> 10

In [ ]:


#Sunday   mcq 25 questions 
#Today 15 pgms ==> 10 pgms (2.5 per question)

In [6]:
Total = 0

print("What is python latest version")
print("1. 3.8")
print("2. 3.7")
print("3. 3.6")
print("4. 3.9")

val = int(input("Please enter an option: "))


if val == 2:
    print("Correct answer")
    Total = Total + 1
else:
    print("wrong answer")

What is python latest version
1. 3.8
2. 3.7
3. 3.6
4. 3.9
Please enter an option: 2
Correct answer

In [ ]:
a = {"120 500 in", "149 519 out", "155 500 out", "120 505 out", "130 560 in", "149 599 out"}

a = {{120: {"in":0 , "out":0, "total":0}}, {149: {"in":0 , "out":0, "total":0}}, {155: {"in":0 , "out":0, "total":0}}}

{id time in/out}

i) 120 ===> total time 
ii) 30 mins below
iii) 500 mins above

In [ ]:
#1 server:
    
    
ansible chef puppet cloud formation  terraform
#ansible: 1000 server 
#    play book
    
#    Infrastrucutre as a code

In [ ]:

i have 2 pens in my hand ===> 2 (pattern)

independence day is on august 15 ===> august ()

welcome1995@VAL  ===>  ()

8 to 15 chars
1 special char
1 lower
1 upper

In [ ]:
#Zoho interview questions:

1. four hundred four thousand  ==> number to word
456 ===> 
34567  ==>

2. ABCD EFGHI   DCBA IHGFE  ==> character word reverse
hello world python  ===> olleh dlrow nohtyp

3. {11:22:40, 12:20:34, 23:23:00}  {hh:mm:ss} minimum difference time duration

4. string rotation yes or no   hello world  ===> llo worldhe ==> yes

hello world ===> o world hlle ==> no

python

ythonp

thonpy

honpyt

5.